.dropdown-btn {
    width:147px;
    height: 44px;
    padding: 10px 8px;
    border: none;
    background-color: transparent;
    position: relative;
}


.dropdown-btn:active {
    border: none;
}

.language {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #3A3A3A;
    margin-right: 5px;
    cursor: default;
}
.dropdown-content::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
.dropdown-content {
    position: absolute;
    width: 166px;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    right: 3rem;
    margin-top: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    max-height: 40vh;
    transition: transform 150ms ease-in-out, opacity 100ms ease-in-out;
    opacity: 0;
  }
  
  .content-open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }